In [1]:
from StockPrices_getdata import *

In [2]:
company_df = pd.read_csv('company_for_priceindex.xls')

In [3]:
company_data_daily = create_daily_stockprice_data(company_df, 15)

Total companies scraped: 6
Total companies scraped: 11
Total companies scraped: 20

In [4]:
company_data_daily

,yyyy-mm-dd,WMT,CLX,JNJ,PG,ROKU,NFLX,GRUB,AMZN,CPB,ZM,GOOGL,MSFT,CHTR,VZ,PTON,UBER,LYFT,SFM,KR
0,2020-04-17,129.9841,190.5367,150.2600,121.1000,NaN,NaN,41.3700,NaN,49.8560,NaN,NaN,NaN,NaN,58.0850,NaN,27.8297,NaN,NaN,31.4400
1,2020-04-16,132.3300,196.4900,149.6700,121.5000,128.0000,439.1700,40.3000,2408.1900,51.1100,150.2600,1257.4300,177.0400,496.3500,57.6600,36.3500,27.0300,27.1400,20.3500,31.9500
2,2020-04-15,128.7600,195.6400,147.6600,121.2200,113.0000,426.7500,40.3500,2307.6800,50.5000,151.5600,1257.3000,171.8800,496.3200,56.9300,35.6100,27.4100,28.3900,18.9800,32.0300
3,2020-04-14,129.0000,194.3700,146.0300,120.9600,106.5300,413.5500,41.8000,2283.3200,50.0700,141.8900,1265.2300,173.7000,489.5700,58.1400,31.8800,27.7500,30.5000,19.0700,32.0900
4,2020-04-13,125.3000,185.4700,139.7700,115.9500,96.5600,396.7200,39.6800,2168.8700,48.5000,135.9200,1210.4100,165.5100,469.7000,56.6700,31.9900,27.9900,30.6600,18.8100,31.3300
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,2019-11-27,118.7600,148.9500,137.7500,121.7600,161.6400,315.9300,43.2400,1818.5100,47.0600,74.0800,1312.1300,152.3200,473.7800,60.1000,32.1600,29.4900,49.3700,19.4500,27.2300
97,2019-11-26,119.1900,148.1900,137.1700,122.2600,164.2800,312.4900,42.3400,1796.9400,47.1000,75.1600,1313.0000,152.0300,467.3100,59.8900,30.9600,29.5300,49.0000,19.2300,27.0400
98,2019-11-25,118.9200,145.2500,137.1800,120.5100,158.0800,315.5500,42.6700,1773.8400,46.8000,74.5500,1305.6400,151.2300,466.0600,59.3800,30.8700,29.1100,48.9400,19.4200,27.0000
99,2019-11-22,119.3600,146.2600,138.0700,120.2900,158.7500,310.4800,42.7200,1745.7200,46.8300,73.1600,1293.6700,149.5900,468.5000,59.7500,29.3600,29.5600,46.4600,19.6600,27.0500
100,2019-11-21,NaN,NaN,NaN,NaN,155.9100,311.6900,NaN,1734.7100,NaN,69.9200,1300.1400,149.4800,474.6500,NaN,29.8000,NaN,46.7600,19.4600,NaN

In [190]:
company_data_daily.to_csv('company_financial_data_41.csv', index=False)